apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: synergychat-web
  name: synergychat-web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: synergychat-web
  template:
    metadata:
      labels:
        app: synergychat-web
    spec:
      serviceAccountName: default
      automountServiceAccountToken: false
      containers:
      - name: synergychat-web
        image: docker.io/bootdotdev/synergychat-web:latest
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
          - name: API_URL
            valueFrom:
              configMapKeyRef:
                name: synergychat-web-configmap
                key: API_URL
          - name: WEB_PORT
            valueFrom:
              configMapKeyRef:
                name: synergychat-web-configmap
                key: WEB_PORT
